rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /carreras/{carreraId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null &&
        (resource.data.clienteId == request.auth.uid ||
         resource.data.mototaxistaId == request.auth.uid);
    }

    match /mototaxistas/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
